.main-menu{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border-right:1px solid #8A898C;
    padding:35px;
}

.logo{
    font-size:30px;
    font-weight: bold;
    margin:0;
}

.navigation{
    display: flex;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(180deg);
    font-size:20px
}
.navigation > li{
    margin:15px 0
}
.navigation > li.active{
    font-weight: bold;
}

.social{
    display: flex;
    color: #5E4F3A;
    font-size:15px;
    justify-content: space-between;
}